body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-decoration: underline;
}

img {
    position: absolute;
    width: 6vw;
}

section {
    position: relative;
}

#Premier {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#Seconde {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10%;
}

#Troisieme {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10%;
}

#Quatrieme {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10%;
}

#Timer {
    position: relative;
    top: 50vw;
    font-size: 5vw;
    left: 30vh;
}

#Resultats, #ResteTemps, #NbrPaires, #NbrDeTentatives {
    font-size: 2vh;
}

@media only screen and (max-width: 52.5vw) {
    img {

        width: 16vh;
        padding: 6vh;

    }

    #Timer {
        position: relative;
        top: 50vw;
        font-size: 5vw;
        left: 30vh;
    }

    body {

        width: 100%;

        height: 100%;

    }

    h1, h2, h3 {

        font-size: 2vh;

    }

    #Resultats, #ResteTemps, #NbrPaires, #NbrDeTentatives {
        font-size: 2vh;
    }

}