body {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

section {
    height: 100%;
}

h1, h2, h3 {
    text-decoration: underline;
}

img {
    position: absolute;
    width: 10%;
    padding: 20px;
}

#EcranJeu {
    position: relative;
    float: left;
    width: 80%;
    height: 100%;
    background-color: black;
    color: white;
}

#EcranFinDePartie {
    position: relative;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #005cbf;
}

#Premier {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#Seconde {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 13%;
}

#Troisieme {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 13%;
}

#Quatrieme {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 13%;
}

#Timer {
    position: relative;
    top: 400px;
    font-size: 40px;
    left: 50px;
}